<h2>All Transactions for tag <%=@tag.name%></h2>


<% @transactions.each do |transaction| %>
  Tag: <%= transaction['name'] %><br>
  Amount: £ <%= transaction['amount'] %><br>


  <hr>
<% end %>
Total: £ <%=@total%><br>
<hr>

<a href="/tag/<%=@tag.id%>/transactions">View Transactions</a>
