<h2>All Transactions</h2>

<a href="/transaction/new">Add new transaction</a><br>

<% @transactions.each do |transaction| %>
  ID: <%= transaction.id %> - Account ID: <%= transaction.account_id %><br>
  Merchant ID: <%= transaction.merchant_id %> - Tag ID: <%= transaction.tag_id %><br>
  Amount: <%= transaction.amount %> <!-- - Date: <%= transaction.trans_date %><br>
  Description: <%= transaction.description %> - Type: <%= transaction.type %> --><br>
  <hr>
<% end %>