<div id="subhead">
<h2>All Transactions</h2>
</div>

<div id="hmenu">
  <ul>
    <li><a href="/transaction/new">Add new transaction</a></li>
  </ul>
</div>

<% @transactions.each do |transaction| %>
Account Type : <%= transaction['type'] %><br>
Merchant : <%= transaction['name'] %><br>
Amount: £ <%= transaction['amount'] %><br>
<form>
    <button formaction="/transaction/<%=transaction['id']%>">View</button>
</form> <form>
    <button formaction="/transaction/<%=transaction['id']%>/delete">Delete</button>
</form><br>
<hr>
<% end %>
<div id="total">
Total : £ <%= @total.to_f %>
</div>


