<h2>All Transactions for account <%=@account.type%></h2>


<% @accounts.each do |account| %>
  Account Type: <%= account['type'] %><br>
  Amount: £ <%= account['amount'] %><br>
  <hr>
<% end %>
<div id="total">
Total: £ <%=@total%><br>
</div>

<a href="/account/<%=@account.id%>/transactions">View Transactions</a>
